.custom-modal {
    position: fixed;
    top: 30px;
    right: 0;
}

.modal-dialog.custom-modal {
    margin: 1.75rem;
    /* Adjust the margin as needed */
}

.modal-content {
    border-radius: 5px;
    /* Optional: Remove border-radius for a more squared appearance */
}

.scrollable {
    max-height: 400px;
    /* Adjust the max-height as needed */
    overflow-y: auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #270858;
    padding: 15px;
    color: white;
}

.brand {
    font-weight: bolder;
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;

}

.search-bar {
    width: 60%;

}

.search-bar input {
    width: 55%;

}

input::placeholder {
    padding: 10px;
    font-weight: bold;
}

.cart {
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    background-color: #4b1b78;
    font-weight: bold;
    width: 100%;
}

.navbar-leftside {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 400px;
    height: 400px;
}

.images-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images-empty-cart {
    width: 300px;
    height: 300px;
}

.images-empty-cart img {
    width: 300px;
    height: 300px;
}

.buy-images img {
    width: 300px;
    height: 300px;
}

.buy-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mobile-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    /* Show the mobile-view div for screens up to 767px width */
}


@media only screen and (max-width: 767px) {
    .mobile-view {
        display: block;
        /* Show the mobile-view div for screens up to 767px width */
    }

    .nav-bar-wrapper {
        display: none;
        /* Hide the nav-bar-wrapper div for screens up to 767px width */
    }

    .brand span {
        display: none;
    }

    .search-bar input {
        width: 100%;

    }

    .card img {
        width: 200px;
    }

    .products_cart {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .cart-container {
        width: 100% !important;
        align-items: center;
        justify-content: center;
        /* Adjust the width for mobile screens */
    }

    .cart-actions {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        /* Stack buttons vertically for mobile screens */
    }

    .mobile_view_shoppingbtn {
        width: 100%;
    }

    .empty-cart-content {
        width: 300px;
    }

    .images-empty-cart img {
        width: 100%;
    }

    .shopping_carts {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cart-display {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}